<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.mapper.ItemsMapper">

    <!--新增-->
    <insert id="addItems" parameterType="com.qf.pojo.Items">
        insert into items(name, price, images) value(#{name}, #{price}, #{images})
    </insert>

    <!--查询-->
    <select id="findAll" resultType="com.qf.pojo.Items">
        select * from items
    </select>
</mapper>